table {
	
	table-layout: fixed;
}

tr {

	border: 1px solid black;
}

td {

	text-align: center;;
	border: 1px solid black;
	width: 30px;
	height: 30px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

#dungeonContainer{

	overflow: auto;
	float: right;
}

td.currentPos{

	content: url("../resources/images/hero.png");
}

td.currentPos.north{

	content: url("../resources/images/north.png");
}

td.currentPos.east{
	
	content: url("../resources/images/east.png");
}

td.currentPos.south{
	
	content: url("../resources/images/south.png");
}

td.currentPos.west{
	
	content: url("../resources/images/west.png");
}

td.wall{

	background-color: rgb(0, 0, 0);
}

td.pit{

	background-color: rgb(255, 255, 0);
}

td.forceField{

	background-color: rgb(255, 0, 0);
}

td.barredDoor{

	background-color: rgb(0, 0, 255);
}

td.door{

	background-color: rgb(0, 85, 255);
}

td.path{

	background-color: rgb(255, 255, 255);
}

td.entrance{

	background-color: rgb(0, 255, 213) !important;
}

td.exit{

	background-color: rgb(255, 145, 250) !important;
}

td.checked{

	border: 2px solid red;
}