<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../js/jquery-1.11.3.min.js"></script>
	<script src="../js/dungeonCreator.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/dungeonCreator.css">
</head>
<body>

	<div id="DunCreator" class="rows">
			
			<div class="columns">
				<label>Y:</label>
				<input class="input-coords" id="y" type="text" name="y">
				<br>
				<label>X:</label>
				<input class="input-coords" id="x" type="text" name="x">
				<br>
				<input id="subs" type="submit" value="Submit">
			</div>

			<div id="title" class="hide columns">
				<label>Title:</label>
				<input id="name" type="text" name="name">
				<br>
				<label>Difficulty:</label>
				<input class="input-coords" id="diff" type="text" name="diff">
				<br>
				<input id="gen" type="submit" value="Get" onclick="(getCodigo())">
			</div>

			<div id="resultado" class="hide columns return">
				<button class="copyClip">Copy</button>
				<label id="isCopied" class="columns"> ClipBoard: Empty</label>
				<div id="txtArea" class="columns">
				</div>
			</div>

	</div>

	<div id="leyenda" class="hide columns leyenda"></div>

	<div id="spans" class="hide gridSquare">
	</div>

	<!-- <p><textarea class="js-cuttextarea">Hello I'm some text</textarea></p> -->

<!-- <p><button class="js-textareacutbtn" disable>Cut Textarea</button></p> -->
		

	<script type="text/javascript">

		var copyBtn = document.querySelector('.copyClip');

		copyBtn.addEventListener('click', function(event) {

			var emailLink = document.querySelector('.txtCopy');
			var range = document.createRange();
			range.selectNode(emailLink);
			window.getSelection().addRange(range);

			try {
				var successful = document.execCommand('copy');
				var msg = successful ? 'successful' : 'unsuccessful';
				console.log('Copy command was ' + msg);

				$("#isCopied").css("background-color","blue");
				$("#isCopied").text("ClipBoard: Copied");
			} catch(err) {
				console.log('Oops, unable to copy');
				$("#isCopied").css("background-color","red");
				$("#isCopied").text("ClipBoard: Problem");
			} 
			window.getSelection().removeAllRanges();
		});


		$( "#subs" ).click(function(){
			createSpan();
		});

		
	</script>

</body>
</html>